body {
  margin: 0;
  padding: 0;
}

li {
  text-decoration: none;
}

a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

a:hover {
  text-decoration: none;
  color: orange;
}

.pro-header {
  background-color: #000;
  margin:0;
  height: 100%;
  padding:30px 0 30px;
  width: 100%;
  position: relative;
}

.pro-logo {
  color:white;
}

.pro {
  color: #267bea;
}

.top-section {
  display: inline-flex;
}

.inner-left {
  float: left;
  margin-top: 70px;
  padding-left: 120px !important;
}

#regForm {
  background-color: #ffffff;
  margin-left: 15%;
  margin-right: 0;
  font-family: Raleway;
  padding: 40px;
  width: 40%;
  min-width: 300px;
}


input {
  padding: 10px;
  width: 250px;
  margin:0;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

button {
  background-color: #267bea;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 17px;
  font-family: Raleway;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

#prevBtn {
  background-color: #bbbbbb;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #267bea;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #4CAF50;
}

.moving-steps {
  background-color:#b8c9d9;
  display: inline-flex;
  width: 100%;
  height: 100%;
  margin-top: 30px;
  margin-right: 0;
  padding-left: 10%;
}

.step1 {
  margin:0 100px 20px;
  padding:30px 20px 20px;
}
.step2 {
  margin:0 100px 20px;
  padding:20px;
}
.step3 {
  margin:0 100px 20px;
  padding:20px;
}

.about-us {
  margin:30px 0 30px;
}
